*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    height: 100%;
    
}

.Contenedorgrid{
    display: grid;
    grid-template-areas:
    'img barra nombre nombre'
    'sobremi barra cont cont'
    'contacto barra cont cont'
    'idiomas barra fin fin';

    grid-template-columns: 3fr 0.5fr 2fr 3fr;
    grid-template-rows: 1fr 2fr 1fr 1fr;
}

.barra {
    background-color: black;
    display: grid;
    grid-area: barra;
    width: 6px;
}



.nombre {
    grid-area: nombre;
    display: grid;
    align-content: center;   

}

.nombre h1{
    padding-right: 50px;
}
.nombre h2 {
    margin-top: 0; 
    padding-left: 10px;
    font-size: small;
}

.nombre .barras
{
    background-color: black;
    width: 86%;
    height: 2px;
    margin-top: 10px;
}

.imgcv {
    height: 150px;
    grid-area: img;
    display: grid;
    place-items: center; /
}

.imgcv img{
    border-radius: 999%;
    border: 4px solid black;
    height: 100px;
    width: 100px;
    
}

main{
    grid-area: cont;
}

aside{
    grid-area: idiomas;
}


@media only screen and (min-width: 1280px) {
 
}

/*Chatgpt*/
.imgcv {
    grid-area: img;
    display: grid;
    place-items: center;
    background: lightblue;
}

.nombre {
    grid-area: nombre;
    display: grid;
    place-items: center;
}


main {
    grid-area: cont;
    background: red;
}

aside {
    grid-area: idiomas;
    background: pink;
}

.sobremi {
    grid-area: sobremi;
    background: orange;
}

.contacto {
    grid-area: contacto;
    background: violet;
}

.fin {
    grid-area: fin;
    background: blue;
}
/*Chatgpt*/